*{
    overflow: hidden;
}

.title{
    text-align: center;
    font-size: 36px;
    cursor: default;
    padding-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home{
    text-decoration: none;
    font-size: 30px;
    color: Grey;
    padding: 10px;
}

.headings{
    cursor: default;
}

.main-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.tbl {
    border-collapse: collapse;
    width: 95%;
    font-family: Tahoma, Arial, Serif;
    border-radius:2px;

    }
     
    .tbl td, th {
        border: 1px solid silver;
    }
    .tbl img {
    display:inline-block;
    text-align: center;
    max-width: 10%;
    height: 100px;
    border: 2px solid gray;
    }

    .location-notes, .location{
        cursor: default;
    }

    .logo-box{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 5px;
    }

    .tbl img:hover{
        scale: 0.9;
        border-radius: 20%;
        transition: ease-out 5s;
    }

    .tbl tr{
    text-align:center;
    font-size:6vm;
    color: gray;
    padding:5px;
    background:white;
    font-weight:normal;
        border: 1px solid silver; 
        height: 50px;}
     
    .tbl tr:hover{
     transition: ease-out 0.07s;
    color: #383838 ;
    background: #FFFFCC;
    }
     
    .tbl th {
    font-size:6vm;
    color:white;
    padding:10px;
    background:gray;
    font-weight:normal;
    border: 1px solid silver; 
    border-bottom: 3px solid silver;
    height: 50px;
    }
     
     
    a.desc{
    display:inline-block;
    padding:3px 6px 3px 6px;
    margin:4px;
    font-size:1vm;
    }
     
     .main-list{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
     }

     .main-list a{
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;
        color: grey;
     }

     .main-list a:hover{
        background: #FFFFCC;
        scale: 1.05;
     }

     .margin-calculator{
        opacity: 0.5;
        font-size: 13px;
        margin-bottom: -40px;
     }
     

     footer{
        position: absolute;
        display: flex;
        opacity: 0.8;
        width: 99%;
        justify-content: right;
        margin-top: 180px;
    
     }

     footer a, .list-link{
        text-decoration: none;
        color: rgb(98, 98, 100);
     }

     .list-link:hover{
        color: rgb(234, 53, 53);
     }