*{
    background-color: #33353f;
    color: #eee;
}

.usage-title{
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.no-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.home{
    text-decoration: none;
    font-size: 30px;
    color: orange;
    padding: 10px;
}

.dependent, .provider{
    color:orange;
    cursor: default;
}

.tbl {
    border-collapse: collapse;
    width: 70%;
    font-family: Tahoma, Arial, Serif;
    border-radius:2px;
    }
     
    .tbl td, th {
        border: 1px solid silver;
    }

    .tbl tr{
        text-align:center;
        font-size:6vm;
        color: gray;
        padding:5px;
        /* background:white; */
        font-weight:normal;
            border: 1px solid silver; 
            height: 50px;}
         

         
        .tbl th {
        font-size:6vm;
        color:black;
        padding:10px;
        background:orange;
        opacity: 0.8;
        font-weight:normal;
        border: 1px solid silver; 
        border-bottom: 3px solid silver;
        height: 50px;
        }
     
     td a{
        text-decoration: none;
        color: white;
        opacity: 0.6;
     }

     td a:hover{
        scale: 1.1;
        opacity: 1;
        color: rgb(234, 222, 53);
     }
     

     .notes{
        opacity: 0.7;
        font-style: italic;
        cursor: default;
     }